%h1 Listing users

%table
  %thead
    %tr
      %th Name
      %th Email
      %th Nickname
      %th Icon
      %th Github
      %th Github token
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.nickname
        %td= user.icon
        %td= user.github_id
        %td= user.github_token
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
