%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Nickname:
  = @user.nickname
%p
  %b Icon:
  = @user.icon
%p
  %b Github:
  = @user.github_id
%p
  %b Github token:
  = @user.github_token

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
