#vue-app.app{data: {login_user_id: current_user.id}}
  .app__navbar-main.col-sm-1
    %ul.side-nav.nav{style: 'color: white'}
      %li
        %a{data: {target: '#post-modal', toggle: 'modal'}}
          = fa_icon 'pencil-square-o'
          %span.nav-label New POST
      %li
        %a{onclick: 'app.setDisplayingMode("home")'}
          = fa_icon 'home'
          %span.nav_label HOME
      %li
        %a{onclick: 'app.setDisplayingPost()'}
          = fa_icon 'file-text-o'
          %span.nav_label POSTS
      %li
        %a{onclick: 'app.setDisplayingMode("performance")'}
          = fa_icon 'line-chart'
          %span.nav-label PERFORMANCE
      %li
        %a{onclick: 'app.setDisplayingMode("academy")'}
          = fa_icon 'mortar-board'
          %span.nav-label ACADEMY
  .app__navbar-sub{style: 'background-color: #E0E0E0;padding-left: 9%;height: 60px'}
    .navbar-heaer
      %a.navbar-brand.logo{href: "/", style: 'padding-top: 5px'}
        = image_tag 'n2jkAcademy-logo.png'
    .navbar-heaer.navbar-right{style: 'margin-right: 15px'}
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{href: '/', 'data-toggle' => 'dropdown'}
            = fa_icon 'bars'
            %ul.dropdown-menu
              %li
                %a{data: {target: '#user-modal', toggle: 'modal'}}
                  = fa_icon 'cog'
                  アカウント設定
              %li= link_to fa_icon('sign-out', text: 'ログアウト'), signout_path, method: :delete
    = image_tag current_user.icon, style: 'width: 50px;margin: 3px 20px;border-radius:50%', class: 'pull-right nav-user-icon'
  .app__home{v: {if: 'isDisplayingHome()'}}
    %h2 ホーム
  .app__posts{v: {if: 'isDisplayingPost()'}}
    = render 'posts/posts'
  .app__academy{v: {if: 'isDisplayingAcademy()'}}
    %h2 アカデミー生
  .app__performance{v: {if: 'isDisplayingPerformance()'}}
    %h2 実績
= render 'posts/modal_form'
= render_vue_component_templates